/*** VSCodeEDU preview fix ***/
html {
    background-image: url(img/winter.jpg);
    background-size: cover;
    background-position: center center;
}

/*** body ***
  When To Modify:
  - [ ] Project 3 (REQUIRED FEATURE) 
***/

body {
    background-color: transparent; 
    font-size: 16px;
    color: var(--text-color);
    font-family: Tahoma, sans-serif; 
    margin: 0 50px 50px 50px;
}

/*** Text ***
  
  Purpose: 
  - Add style rules for headings (h1-6),
    paragraphs (p), links (a), and buttons

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
***/

h1 {
    text-align: center;
}

h2 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    text-align: center;
    padding: 3px;

    text-shadow: 3px 3px 1px var(--accent-color-dark);

}

p {color: var(--text-color);}

a,
a * {
    
}

button {
    background-color: rgb(2, 27, 101);    
    color: white;               
    border: none;               /* hides the default border */
    padding: 10px 15px;          /* space between button's text and edge */
    border-radius: 10px;         /* curved edges instead of square */
    cursor: pointer;            /* makes the cursor change when over button */
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
button:hover {
    /* Make the button look different when the user hovers over it */
    background-color: #62329e;
    box-shadow: 0px 0px 5px 2px var(--accent-color-darkest);

}

a:link {
  text-decoration-line: none;

}
a:visited {
  color:var(--accent-color-fuschia)
}
a:hover {
  color: var(--accent-color-purple)
}
a:active { 
  color:rgb(49, 16, 134);
}

/*** header ***
  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [ ] Project 4 (REQUIRED FEATURE) 
***/

.header-container { 
    margin-top: 0; 
    margin-bottom: 0;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; /* viewheight */
}
.header-item:nth-of-type(1) {
  /* Omori img */
  width: 45%;
  margin-right: 20px;
  justify-content: center;
  filter: drop-shadow(5px 7px 7px var(--text-color));
}
.header-item:nth-of-type(2) {
  /* the intermission orch */
    width: 55%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;

}
.header-item:nth-of-type(2) h1{
    text-align: start;
    font-family: "Gill Sans", sans-serif;
    font-size: 30pt;
}
.header-item:nth-of-type(2) h2{
  /* anime video games */
    text-align: start;
    font-size: 16pt;
    color: var(--accent-color-dark);
    text-shadow: 0px 0px;
}
#intermission-orch {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--accent-color-dark);
  color: white;
  font-family: "Gill Sans", sans-serif;
  font-size: 30pt;
  font-weight: bolder;
  text-shadow: 5px 5px 5px var(--accent-color-dark);
}
#dec-concert{ 
  font-family: cursive; 
  font-size: 40pt;
  padding: 15px;
  margin: 0;
  font-weight: bolder;
  color: white;
  width: fit-content;
  border-radius: 10px;
  text-align: center;
  background-color: var(--accent-color-dark);
  box-shadow: 10px 10px 10px rgb(49, 16, 134);

}
#dec-concert:hover{ 
  font-family: cursive; 
  font-size: 40pt;
  padding: 15px;
  margin: 0;
  font-weight: bolder;
  color: white;
  width: fit-content;
  border-radius: 10px;
  background-color: var(--accent-color-dark);
  box-shadow: 10px 10px 10px var(--accent-color-fuschia);

}
.header-button-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  width:auto;
}

/*** footer ***/

.footer { 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    height: 30px;

    width: 100%;
    margin: 30px;
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: #124a5b;

}
.footer p {
  color: var(--accent-color-brown-dark);
  text-align: center;
}

/*** Navigation bar (navbar) ***
  When To Modify:
  - [ ] Project 4 (REQUIRED FEATURE) 
***/

.navbar ul {
    z-index: 1000; /* Ensures the navbar is on top of other elements */
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 0;
    background-color: rgba(240, 248, 255, 0.807);
    box-shadow: 0 4px 15px 10px rgba(80, 92, 107, 0.413) ;
    /*[horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color] [optional inset keyword];*/
}

.navbar ul li {
    float: left;
    margin: 10px;
}

.navbar ul li a {
    display: block;
    text-decoration: none;
    padding: 5px;
    color: var(--accent-color-darkest);
}

.navbar ul li a:hover {
    text-decoration: dotted;
    text-decoration-line: underline;
    color: var(--accent-color-purple);
}

/*** About Section ***
  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
***/
.about-container {
  display: flex;
  width: 100%; 
  align-items: center; 
  justify-content: space-around; 
  margin: 10px;
  height: 100%;
  /* TO DO: Make images responsively shrink*/
}
.about-container img {
    max-height: 300px;

}

/*** Schedule Section ***
  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
***/
.event-schedule-container {
    /* CONTAINER OF WHOLE EVENT-SCHEDULE */
    display: flex; 
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 15px;
    margin-top: 0px;
    min-width: 100px;
    flex-wrap: wrap;
    justify-content: center;
    
}
.event-schedule {
  /* CONTENTS OF EVENT SCHEDULE */
  background-color: rgba(255, 255, 255, 0.395);
  border-radius: 25px;
  padding: 30px;
  margin: 5px;
  margin-bottom: 15px;

  display: flex;
  flex-direction: column;
  
}
/* INDIVID EVENT ITEMS */
.event-schedule:nth-of-type(1) {
  width: 100%;
}
.event-schedule:nth-of-type(2) {
  width: 40%;
  flex-shrink: 1;
  
}
.event-schedule:nth-of-type(3) {
  width: 40%;
  flex-shrink: 1;

}


.event-schedule img {
  width: 100%; 
  height: 100%;
  margin: 5px 10px;
  
  max-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; 
  object-fit: contain;
}

.ticket-container img{
  
}
.ticket-container {
  display: flex;
  
  padding: 15px;
  justify-content: space-around;
}

.concert-times-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

/*** Links Section ***
  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
***/


/*** RSVP [PLACEHOLDER] [ADDED IN UNIT 6] ***/
/*** Animations [PLACEHOLDER] [ADDED IN UNIT 8] ***/
/*** Success Modal [PLACEHOLDER] [ADDED IN UNIT 9] ***/
/*** Dark Mode [PLACEHOLDER] [ADDED IN UNIT 5] ***/

/*** Custom Colors (OPTIONAL) ***
  - To reference a color variable in your css, use var(--variable-name) in place of a color value
***/

:root {
    /* Light Mode */
    --bg-color: #9cc1d0;
    --text-color: #042531;

    /* Dark Mode */
    --bg-color-dark-mode: #022b3b;
    --text-color-dark-mode: #fff;

    /* Accent Colors */
    --accent-color-light: #b5cad4dc;
    --accent-color-medium: rgb(57, 133, 156);
    --accent-color-dark: #124a5b;
    --accent-color-darkest: #072a35;
    --accent-color-brown-dark:rgb(78, 48, 17); 
    --accent-color-purple: #62329e;
    --accent-color-fuschia: rgb(161, 50, 178);

    /* Error Colors */
    --error-color: #f8bbd0;
    --error-color-border: #e63946;
}
